@{
    ViewData["Title"] = "Home Page";
}

@model MVC.Models.Student

<div class="text-center">
    <h1 class="display-4">Bye Page</h1>

    <p>@Model.firstname</p>
     <p>@Model.lastname</p>
      <p>@Model.age</p>

</div>
