
    @model Account

    <h2>Create Account</h2>
    <form method="post" asp-action="Create">
        <div asp-validation-summary="All"></div>
        <div>
            <label for="UserName">User Name</label>
            <input type="text" id="UserName" name="UserName" asp-for="UserName" required />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label for="Email">Email</label>
            <input type="email" id="Email" name="Email" asp-for="Email" required />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label for="Password">Password</label>
            <input type="password" id="Password" name="Password" asp-for="Password" required />
            <span asp-validation-for="Password"></span>
        </div>
@*        <div>
            <label for="ConfirmPassword">Confirm Password</label>
            <input type="password" id="ConfirmPassword" name="ConfirmPassword" asp-for="ConfirmPassword" required />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>*@
        <div>
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
